{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <main class="container mt-5 mb-5">
        <h1><i class="fab fa-steam-square me-3"></i>SymfoAmazon</h1>
        {% if is_admin == true %}
            <a class="btn btn-warning" href="{{ path('admin_index') }}">Administration</a>
        {% endif %}
    </main>

{% endblock %}
