<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <-- Heading -->
                <h1 class="display-2 text-white">symfoAmazon</h1>

                <-- Text -->
                

                <-- Button -->

            </div>
        </div>
    </div>
</section>